<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-offset-2 col-lg-8 col-md-8 col-sm-12'>
      <h2>Quick Message</h2>
	  <div uib-alert ng-repeat="alert in quickaddCtrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="quickaddCtrl.closeAlert($index)" dismiss-on-timeout='5000'>{{alert.msg}}</div>

      <div class='well'>
        <form class="form-horizontal" ng-class="quickaddCtrl.isSuccess">
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputNotes">Message</label>
            <div class="col-md-10">
              <textarea rows="3" class="form-control" id="inputMessage" ng-model="quickaddCtrl.inputMessage" aria-describedby="Message" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-group">
           <label  class="col-md-2 control-label" for="inputName">Contact</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="inputName" ng-model="quickaddCtrl.inputName" aria-describedby="Name" placeholder="First and Last Name" uib-typeahead="names as names.name for names in quickaddCtrl.contactCollection | filter:$viewValue | limitTo:8" autocomplete="off">

            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputFollowup">Follow-up (days)</label>
            <div class="col-md-10">
              <label class="radio-inline">
                <input type="radio" name="inputFollowup" id="inputFollowup1" ng-model="quickaddCtrl.inputFollowup" value="1"> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="inputFollowup" id="inputFollowup2" ng-model="quickaddCtrl.inputFollowup" value="2"> 2
              </label>
              <label class="radio-inline">
                <input type="radio" name="inputFollowup" id="inputFollowup3" ng-model="quickaddCtrl.inputFollowup" value="5"> 5
              </label>
              <label class="radio-inline">
                <input type="radio" name="inputFollowup" id="inputFollowup4" ng-model="quickaddCtrl.inputFollowup" value="10"> 10
              </label>
              <label class="radio-inline">
                <input type="radio" name="inputFollowup" id="inputFollowup4" ng-model="quickaddCtrl.inputFollowup" value="15"> 15
              </label>
              <label class="radio-inline">
                <input type="radio" name="inputFollowup" id="inputFollowup5" ng-model="quickaddCtrl.inputFollowup" value="30"> 30
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right" ng-click="quickaddCtrl.addMessage()">Send</button>
            </div>
          </div>
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
        </form>
      </div>
    </div>
  </div>
</div>
