<div class='container-fluid'>
  <div class='row' ng-show="contactsCtrl.viewMode == '1'">
    <div class='col-md-offset-2 col-lg-8 col-md-8 col-sm-12'>
      <h2>Manage Contacts
      <button type="button" class="btn btn-primary btn-sm pull-right glyphicon glyphicon-plus" ng-click="contactsCtrl.addContactForm()"></button></h2>
      <br />
      <div class='well'>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Assigned To</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contact in contactsCtrl.contactCollection">
              <td><button ng-click="contactsCtrl.editContactForm(contact)" class='btn btn-primary btn-xs glyphicon glyphicon-pencil'></button></td>
              <td>{{contact.firstName}} {{contact.lastName}}</td>
              <td>{{contact.phone}}</td>
              <td>{{contact.agentAssigned}}</td>
              <td><button ng-click="contactsCtrl.deleteContactClick(contact)" class='btn btn-danger btn-xs pull-right glyphicon glyphicon-remove'></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row' ng-show="contactsCtrl.viewMode == '2'">
    <div class='col-md-offset-2 col-lg-8 col-md-8 col-sm-12'>
      <h2>{{contactsCtrl.editMode ? 'Edit' : 'Create'}} Contact</h2>
      <div class='well'>
        <form class="form-horizontal">
          <input type="hidden" id="_id" ng-model="contactsCtrl.item._id" />
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputFirstName">First Name</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputFirstName" ng-model="contactsCtrl.item.firstName" aria-describedby="First Name" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputLastName">Last Name</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputLastName" ng-model="contactsCtrl.item.lastName" aria-describedby="Last Name" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputCompany">Company Name</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputCompany" ng-model="contactsCtrl.item.companyName" aria-describedby="Company Name" placeholder="Company Name">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputDOB">Date of Birth</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputDOB" ng-model="contactsCtrl.item.dob" aria-describedby="DOB" placeholder="Date of Birth (YYYY-MM-DD)">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputSex">Sex</label>
            <div class="col-md-10">
            <select class="form-control" id="inputSex" ng-model="contactsCtrl.item.sex">
              <option>Male</option>
              <option>Female</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputAddress">Address</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputAddress" ng-model="contactsCtrl.item.address" aria-describedby="Address" placeholder="Address" uib-typeahead="addresses.address for addresses in contactsCtrl.addressCollection | filter:$viewValue | limitTo:8" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label">&nbsp;</label>
            <div class="col-md-10">
            <input type="text" class="form-control col-md-6" id="inputCity" ng-model="contactsCtrl.item.city" aria-describedby="City" placeholder="City">
            <select class="form-control col-md-6" id="inputProvince" ng-model="contactsCtrl.item.province">
              <option value="AB">Alberta</option>
              <option value="BC">British Columbia</option>
              <option value="MB">Manitoba</option>
              <option value="NB">New Brunswick</option>
              <option value="NL">Newfoundland and Labrador</option>
              <option value="NS">Nova Scotia</option>
              <option value="ON">Ontario</option>
              <option value="PE">Prince Edward Island</option>
              <option value="QC">Quebec</option>
              <option value="SK">Saskatchewan</option>
              <option value="NT">Northwest Territories</option>
              <option value="NU">Nunavut</option>
              <option value="YT">Yukon</option>
            </select>
            <br />
            <input type="text" class="form-control col-md-6" id="inputPostalCode" ng-model="contactsCtrl.item.postalcode" aria-describedby="Postal Code" placeholder="Postal Code">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputEmail">Email</label>
            <div class="col-md-10">
            <input type="email" class="form-control" id="inputEmail" ng-model="contactsCtrl.item.email" aria-describedby="Email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputPhone">Phone</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputPhone" ng-model="contactsCtrl.item.phone" aria-describedby="Phone" placeholder="Phone">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputOccupation">Occupation</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputOccupation" ng-model="contactsCtrl.item.occupation" aria-describedby="Occupation" placeholder="Occupation">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputIncome">Income</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" id="inputIncome" ng-model="contactsCtrl.item.income" aria-describedby="Income" placeholder="Income">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputRelationshipName">Relationships</label>            
            <div class="col-md-10">
                <div class="contact-relationship-container">
                  <div ng-repeat="relItem in contactsCtrl.relationshipCollection">
                    {{ contactsCtrl.getRelationshipNamebyID(relItem.connection, contactsCtrl.item._id) }} - {{ relItem.relationshipType }}
                    <a href='#' class="glyphicon glyphicon-remove" ng-click="contactsCtrl.removeRelationship($index, relItem._id)"></a>
                  </div>
                </div>
                <input type="text" class="form-control col-md-8" id="inputRelationshipName" ng-model="contactsCtrl.rel.relationshipName" aria-describedby="Name" placeholder="First and Last Name" uib-typeahead="names as names.name for names in contactsCtrl.contactNameCollection | filter:$viewValue | limitTo:8" autocomplete="off">
                <select class="form-control col-md-3" id="inputRelationshipType" ng-model="contactsCtrl.rel.relationshipType">
                  <option>Spouse</option>
                  <option>Family</option>
                  <option>Friend</option>
                  <option>Co-worker</option>
                  <option>Business</option>
                </select>
                <button type="button" class="btn btn-primary col-md-1 btn-sm pull-right glyphicon glyphicon-plus" ng-click="contactsCtrl.addRelationship()"></button>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputLeadType">Lead Type</label>
            <div class="col-md-10">
            <select class="form-control" id="inputLeadType" ng-model="contactsCtrl.item.leadType">
              <option>Buyer</option>
              <option>Seller</option>
              <option>Rent</option>
              <option>Lease</option>
              <option>Pitch/Demo</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputLeadStatus">Lead Status</label>
            <div class="col-md-10">
            <select class="form-control" id="inputLeadStatus" ng-model="contactsCtrl.item.leadStatus">
              <option>New</option>
              <option>Qualify</option>
              <option>Watch</option>
              <option>Hot</option>
              <option>Growth</option>
              <option>Pending</option>
              <option>Closed</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputAgentAssigned">Agent Assigned</label>
            <div class="col-md-10">
            <select class="form-control" id="inputAgentAssigned" ng-model="contactsCtrl.item.agentAssigned">
              <option>Hussein Kabani</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputRating">Rating</label>
            <div class="col-md-10">
              <label class="radio-inline">
                <input type="radio" name="inputRating" id="inputRating1" ng-model="contactsCtrl.item.rating" ng-value="1"> 1
              </label>          
              <label class="radio-inline">
                <input type="radio" name="inputRating" id="inputRating2" ng-model="contactsCtrl.item.rating" ng-value="2"> 2
              </label>          
              <label class="radio-inline">
                <input type="radio" name="inputRating" id="inputRating3" ng-model="contactsCtrl.item.rating" ng-value="3"> 3
              </label>          
              <label class="radio-inline">
                <input type="radio" name="inputRating" id="inputRating4" ng-model="contactsCtrl.item.rating" ng-value="4"> 4
              </label>          
              <label class="radio-inline">
                <input type="radio" name="inputRating" id="inputRating5" ng-model="contactsCtrl.item.rating" ng-value="5"> 5
              </label>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputNotes">Notes</label>
            <div class="col-md-10">
            <textarea rows="3" class="form-control" id="inputNotes" ng-model="contactsCtrl.item.notes" aria-describedby="Notes" placeholder="Notes"></textarea>
            </div>
          </div>

          <div class="form-group" ng-if="contactsCtrl.isAdmin()">
            <label  class="col-md-2 control-label" for="inputActive">Active</label>
            <div class="col-md-10">
              <label class="radio-inline">
                <input type="radio" name="inputActive" id="inputActive1" ng-model="contactsCtrl.item.active" ng-value="true"> Yes
              </label>          
              <label class="radio-inline">
                <input type="radio" name="inputActive" id="inputActive2" ng-model="contactsCtrl.item.active" ng-value="false"> No
              </label>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-md-12">
              <div class='pull-right'>
                <button type="submit" class="btn btn-success" ng-click="contactsCtrl.editMode ? contactsCtrl.editContact(contactsCtrl.item) : contactsCtrl.addContact()">{{contactsCtrl.editMode ? 'Save' : 'Create'}}</button>
                <button type="button" class="btn btn-primary" ng-click="contactsCtrl.cancelForm()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>