<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-offset-2 col-lg-8 col-md-8 col-sm-12'>
      <h2>Task</h2>
    <div uib-alert ng-repeat="alert in todoCtrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="todoCtrl.closeAlert($index)" dismiss-on-timeout='5000'>{{alert.msg}}</div>
      <div class='well'>
        <form class="form-horizontal" ng-class="todoCtrl.isSuccess">
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputTask">Task</label>
            <div class="col-md-10">
            <input type="text" class="form-control" id="inputTask" ng-model="todoCtrl.item.task" aria-describedby="Task" placeholder="Task">
            </div>
          </div>
          <div class="form-group">
           <label  class="col-md-2 control-label" for="inputName">Contact</label>
            <div class="col-md-10">
              <div class='col-md-5'>
                <label class="radio-inline">
                  <input type="radio" name="inputCommunicationType" id="inputCommunicationType1" ng-model="todoCtrl.inputCommunicationType" value="Call"> Call
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inputCommunicationType" id="inputCommunicationType2" ng-model="todoCtrl.inputCommunicationType" value="Email"> Email
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inputCommunicationType" id="inputCommunicationType3" ng-model="todoCtrl.inputCommunicationType" value="Meet"> Meet
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inputCommunicationType" id="inputCommunicationType4" ng-model="todoCtrl.inputCommunicationType" value="Social"> Social
                </label>
              </div>
              <input type="text" class="form-control col-md-7" id="inputName" ng-model="todoCtrl.inputName" aria-describedby="Name" placeholder="First and Last Name" uib-typeahead="names as names.name for names in todoCtrl.contactCollection | filter:$viewValue | limitTo:8" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputDueDate">Due date</label>
            <div class="col-md-10">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="todoCtrl.inputDueDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputMessage">Message</label>
            <div class="col-md-10">
              <textarea rows="3" class="form-control" id="inputMessage" ng-model="todoCtrl.inputMessage" aria-describedby="Message" placeholder="Message"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-md-2 control-label" for="inputUser">Assign to</label>
            <div class="col-md-10">
              <input type="text" class="form-control col-md-7" id="inputUser" ng-model="todoCtrl.inputName" aria-describedby="Name" placeholder="First and Last Name" uib-typeahead="names as names.name for names in todoCtrl.contactCollection | filter:$viewValue | limitTo:8" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right" ng-click="todoCtrl.createTask()">Create</button>
            </div>
          </div>
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
        </form>
      </div>
    </div>
  </div>
</div>
